.page-footer{
  background-color: $primary;
  color: white
}

ul#connect-links li {
  display:inline;
}
a{
  color: #50eafd !important;
}
li a{
  color: white !important;
}

li a:hover{
  color: #68d5ff !important;
}
p a:hover{
  color: #68d5ff !important;
}