@import '../index.scss';

.background-image {
  //background: linear-gradient(to left, #00c6ff, #30a0ff);
  background: linear-gradient(to left, #1976d2, #194f87);

}

.preview-form {
  background: transparent;
  padding: 1px 0 0 0;
  //margin-top: -37%;
}

.form-header {
  text-align: center;
  font-size: 55px;
  color: white;
}
.search-box {
  padding-top: 3%;
  a {
    color: #a2ecff;
  }
}