body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$primary: #194F87;
$secondary: #FEFEFE;
$tertiary: #326396;
$my-lighten:#4080ff;

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
}

.max-width-30 {
  max-width: 30%;
}

@media (min-width: 768px) {
  .max-width-md-30 {
    max-width: 30%;
  }
}